xml-resources/web-service-references/ServicoSituacaoAluno/wsdl/localhost_8080/WSSituacaoAluno/ServicoSituacaoAluno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servico/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servico/">

<xs:element name="obterSituacaoAluno" type="tns:obterSituacaoAluno"/>

<xs:element name="obterSituacaoAlunoResponse" type="tns:obterSituacaoAlunoResponse"/>

<xs:complexType name="obterSituacaoAluno">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
<xs:element name="arg1" type="xs:float"/>
<xs:element name="arg2" type="xs:float"/>
<xs:element name="arg3" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterSituacaoAlunoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>